/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #3C3C3C;
}

body {
    font-size: 16px;
    line-height: 24px;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

::-webkit-input-placeholder { color: #B4B4B4; }
input:-moz-placeholder { color: #B4B4B4; }
::-webkit-textarea-placeholder { color: #B4B4B4; }
textarea:-moz-placeholder { color: #B4B4B4; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-family: "PT Sans", sans-serif;
	background-color: #1E1E1E;
}

a {
	color: #646464;
}

#container {
	width: 960px;
	margin: 0 auto;
}

header h1 {
	float: left;
	width: 300px;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 300;	
}

#login_page header h1 {
	font-size: 70px;
	line-height: 72px;
	margin: 30px 0 40px 260px;
}

#main_page header h1 {
	font-size: 36px;
	line-height: 38px;
	margin: 15px 0 40px 0;
}

#login {
	width: 400px;
	padding: 20px 60px 20px 40px;
	margin: 0 auto;
	background-color: #FFF;
	border-radius: 6px;
}

#login label,
#login input {
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	display: block;
}

#login label {
	margin-bottom: 6px;
}

input,
textarea {
	background-color: #DCDCDC;
	border: 0;
	padding: 6px 8px;
	font-size: 14px;
	line-height: 20px;
}

input.button {
	border-radius: 2px;
	text-align: center;
}

#login input[type="checkbox"] {
	display: inline;
	background-color: #DCDCDC;
	border-radius: 2px;
	width: 17px;
	height: 17px;
	color: #3C3C3C;
	margin-right: 5px;
}

#login input[type="checkbox"]+label {
	display: inline;
}

#login input[type="text"],
#login input[type="password"] {
	width: 384px;
	margin-bottom: 15px;
}

#login input.button {
	float: right;
}

#login_nav {
	color: #FFF;
	float: right;
	margin-top: 20px;
}

.content {
	clear: both;
}

#add_movie {
	float: left;
	background-color: #FFF;
	color: #3C3C3C;
	padding: 10px 10px;
	margin: 0 20px 20px 0;
	width: 220px;
}

#add_movie h2 {
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}

#add_movie label {
	display: block;
	margin: 0 0 5px 0;
}

#add_movie label span {
	font-size: 12px;
}

#add_movie input,
#add_movie textarea {
	margin: 0 0 12px 0;
}

#add_movie input[type="text"],
#add_movie textarea {
	width: 90%;
}

#add_movie textarea {
	height: 140px;
}

#add_movie input.button {
	margin-top: 10px;
}

#film_list {
	float: left;
	width: 700px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: #FFF;
}

#film_list li {
	padding: 0;
	margin: 0 0 20px 0;
}

#film_list img {
	border: 2px solid #FFF;
	float: left;
	width: 66px;
	margin-right: 20px;
}

#film_list .info {
	float: left;
	width: 450px;
}

#film_list h2 {
	display: inline-block;
	font-size: 26px;
	margin: 0 8px 0 0;
}

#film_list h3 {
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	color: #787878;
	margin: 4px 0 0 0;
}

#film_list p {
	font-size: 14px;
	line-height: 20px;
	color: #C8C8C8;
	margin: 6px 0 0 0;
}

#film_list .toolbar {
	float: right;
	width: 160px;
}

#film_list .toolbar button,
#film_list .toolbar h4 {
	float: right;
}

#film_list h4 {
	font-size: 60px;
	margin: 0 0 0 10px;
	padding: 16px;
}

#film_list button {
	background: url('../img/thumb_picto.png') left top no-repeat;
	width: 19px;
	height: 28px;
	border: 0;
	margin: 14px 10px 0 0;
}

#film_list .toolbar button:hover {
	background-position: 0 -28px;
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
